################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

D424Capstone/.vs/D424Capstone/FileContentIndex
/.vs/D424Capstone/D424Capstone/FileContentIndex
# SQL Server files
*.mdf
*.ldf