################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/D424Capstone/FileContentIndex
/C971/.vs/D424Capstone/FileContentIndex
